/* Min Width
*****************************************************************************************************/

/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {

  /*========== 480px (Min Width) ==========*/
}

@media (min-width: 576px) {

}

/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {
  .to-top {
    margin-top: -30px;
  }
  .text-md-left {
    text-align: left;
  }
  .burger {
    display: none;
  }
  /*========== 601px (Min Width) ==========*/
}

/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {
  .content-img-margin {
    margin-right: 60px;
    margin-bottom: 60px;
  }
  .float-lg-left {
    float: left;
  }
  /*========== 992px (Min Width) ==========*/
}

/* 1200px (Min Width)
=================================================================*/
@media (min-width: 1200px) {

  /*========== 1200px (Min Width) ==========*/
}

/* 1590px (Min Width)
=================================================================*/
@media (min-width: 1590px) {

  /*========== 1590px (Min Width) ==========*/
}

/* Max Width
*****************************************************************************************************/

/* 1589px (Max Width)
=================================================================*/
@media (max-width: 1589px) {

  /*========== 1589px (Max Width) ==========*/
}

/* 1199px (Max Width)
=================================================================*/
@media (max-width: 1199px) {
  .main-slider-item {
    padding-top: 100px;
  }
  .main-slider-title {
    font-size: 48px;
  }
  .header-nav-link {
    padding: 0 20px;

    &-item {
      & + & {
        margin-left: 20px;

        &::before {
          transform: translateX(-10px);
        }
      }
    }
  }
  /*========== 1199px (Max Width) ==========*/
}

/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {
  .regular-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .project-box {
    flex-direction: column;

    &-img {
      flex: 1 1 auto;
      margin-right: 0;
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }
  }

  .content-img-margin {
    margin-bottom: 15px;

    img {
      width: 100%;
    }
  }

  .main-slider-item {
    padding-top: 80px;
    height: 400px;
  }
  .main-slider-title {
    font-size: 40px;
  }
  .header-nav {
    flex-direction: column;

    ul {
      justify-content: center;
      text-transform: capitalize;
    }
  }


  .footer-menu, .footer-right-menu {
    margin-top: 30px;
  }
  /*========== 991px (Max Width) ==========*/
}

/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {
  body.blocked {
    height: 100vh;
    overflow: hidden;
  }
  .header-logo {
    padding-right: 40px;
  }
  .regular-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-one-title,
  .main-two-title,
  h1, .h1 {
    font-size: 2.2rem;
  }

  .h2, h2 {
    font-size: 2rem;
  }


  .partner-slider .owl-dots {
    margin-top: 35px;
    position: initial;
  }
  .news-box {
    flex-direction: column;

    &-img {
      margin-right: 0;
      margin-bottom: 15px;
      flex: initial;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  //navigation
  .main-nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background: #003f6b;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;

    &.open {
      transform: translateX(0);
    }
  }
  .header-nav {
    flex: 1 1 auto;
    justify-content: flex-start;

    &-link {
      flex-grow: 0;
    }

    ul {
      flex-direction: column;
      align-items: center;

      .line {
        display: none;
      }
    }

    &-link {
      &-item {
        & + & {
          margin-left: 0;

          &::before {
            display: none;
          }
        }
      }
    }

    //navigation
  }


  .header {
    &-main {
      flex-wrap: wrap;
    }


    &-call {
      margin-top: 20px;
    }

    &-lang {
      margin-top: 20px;
    }
  }

  /*========== 767px (Max Width) ==========*/
}

@media screen and (max-width: 600px) {


}

/* 575px (Max Width)
=================================================================*/
@media (max-width: 575px) {
  .regular-padding {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .main-one-title,
  .main-two-title,
  h1, .h1 {
    font-size: 2rem;
  }

  .h2, h2 {
    font-size: 1.8rem;
  }


  .partner-slider .owl-item {
    opacity: 1;
  }

  .footer-logo {
    text-align: center;
  }
  .footer-satsilne {
    text-align: center;
  }
  .footer-menu {
    text-align: center;
  }
  .footer-right-menu {
    text-align: center;
  }


  .header-main {
    flex-direction: column;
  }
  .footer-main-button {
    text-align: center;
  }
  .footer-right-sos {
    margin-top: 15px;
  }
  .footer-phone {
    margin-top: 20px;
    justify-content: center;
  }
  .footer-addres {
    justify-content: center;
  }
  /*========== 575px (Max Width) ==========*/
}


/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {


  /*========== 479px (Max Width) ==========*/
}

/* 420px (Max Width)
=================================================================*/
@media (max-width: 420px) {

  /*========== 420px (Max Width) ==========*/
}

/* 380px (Max Width)
=================================================================*/
@media (max-width: 380px) {


  /*========== 420px (Max Width) ==========*/
}






